:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  p {
    @apply py-6 font-Alata text-VeryDarkGray leading-8 font-medium;
  }
  h2 {
    @apply text-3xl desktop:text-5xl uppercase font-thin  font-Jovi;
  }
  li {
    @apply cursor-pointer hover:text-VeryDarkGray duration-300;
  }
}
@layer components {
  .box {
    @apply py-20 px-10;
  }
}

.links-page li {
  position: relative;
}
.links-page li::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 300ms;
}

.links-page li:hover:before {
  width: 100%;
}
